<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Pablo Andrés Duarte y Alejandro Michel.

**Fecha:** 7 de septiembre del 2020.

**Expediente** :  y 719889.
    
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Github:** https://github.com/HKael/Tarea2Clase4_PADuarte_AMichel

# Tarea 2: Clase 4

### Tarea:

1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![Imagen](imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

In [ ]:
# Solución Alejandro Michel

In [1]:
# Solución Andres Duarte
########### Solución 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

# El resultado debe ser como muestro en el resultado de esta celda
p = lambda a,b: a*b
def increase(x) :
    if x >= 100:
        return x
    else:
        return x + 10
result= list(map(lambda x: (x[0], increase(p(x[2], x[3]))), orders))
result

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

In [ ]:
# Solución Alejandro Michel

In [37]:
# Solución Andres Duarte
from functools import reduce
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
p = lambda a,b: a*b
r = lambda a,b: a+b
def increase(x) :
    if x >= 100:
        return x
    else:
        return x + 10
result = list(map(lambda x: [x[0]] + list(map(lambda y: increase(y[1]*y[2]), x[1:])), orders))
result = list(map(lambda x: (x[0], reduce(r,x[1:])),result))
result

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

In [ ]:
# Solución Alejandro Michel

In [43]:
# Solución Andres Duarte
import pandas as pd
def increase(x) :
    if x >= 100:
        return x
    else:
        return x + 10
p = lambda a,b: a*b
r = lambda a,b: a+b
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
orders1 = pd.DataFrame(orders)

orders1["Total"] = (orders1[2]*orders1[3]).apply(increase)
orders1.rename(columns={0: 'Orden'},inplace = True)
orders1.drop([1,2,3], axis=1, inplace = True)
orders1

   Orden   Total
0  34587  163.80
1  98762  284.00
2  77226  108.85
3  88112   84.97

In [68]:
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

orders1 = pd.DataFrame(orders)
orders1["d1"] = orders1[1].str[1]
orders1["d2"] = orders1[1].str[2]
orders1["d3"] = orders1[2].str[1]
orders1["d4"] = orders1[2].str[2]
orders1["d5"] = orders1[3].str[1]
orders1["d6"] = orders1[3].str[2]
orders1.drop([1,2,3],axis = 1, inplace = True )

orders1["Parte1"] = (orders1.iloc[:,1]*orders1.iloc[:,2]).apply(increase)
orders1["Parte2"] = (orders1.iloc[:,3]*orders1.iloc[:,4]).apply(increase)
orders1["Parte3"] = (orders1.iloc[:,5]*orders1.iloc[:,6]).apply(increase)
orders1.drop(["d1","d2","d3","d4","d5","d6"],axis = 1, inplace = True )
orders1.fillna(0,inplace=True)
orders1["Total"] = orders1.iloc[:,1]+orders1.iloc[:,2]+orders1.iloc[:,3]
orders1
orders1.rename(columns={0: 'Orden'},inplace = True)
orders1.drop(["Parte1","Parte2","Parte3"], axis=1, inplace = True)
orders1

   Orden   Total
0      1  688.33
1      2  504.46
2      3  374.80
3      4  502.57

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [ ]:
# Solución Alejandro Michel

In [3]:
# Solución Andres Duarte
palabras=['the notion of a lambda function goes all the way back to the origin of computer science']
words = palabras[0].split()
words

# Selecciona los números impares de la lista
result = list(filter(lambda x: len(x)>3, words))
result

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [ ]:
# Solución Alejandro Michel

In [15]:
# Solución Andres Duarte
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)
result = list(filter(lambda x : x >= 32 and x <= 80, temperatures))
porcentaje = len(result)/ len(temperatures)
porcentaje

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

0.4666666666666667

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [ ]:
# Solución Alejandro Michel

In [14]:
# Solución Andres Duarte
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
coordenadas_red = np.minimum.reduce(point_xy)
coordenadas_red

array([0, 2])