<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Pablo Andrés Duarte y Alejandro Michel.

**Fecha:** 7 de septiembre del 2020.

**Expediente** :  y 719889.
    
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Github:** https://github.com/HKael/Tarea2Clase4_PADuarte_AMichel

# Tarea 2: Clase 4

### Tarea:

1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![Imagen](imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

In [1]:
# Solución Alejandro Michel
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
          ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

result = list(map(lambda x:(x[0], x[2] * x[3] if x[2] * x[3] >= 100 else x[2] * x[3] + 10), orders))
print(result)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]

In [ ]:
# Solución Andres Duarte

2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

In [2]:
# Solución Alejandro Michel
from functools import reduce

orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
             [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
             [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

result = list(map(lambda x: [x[0]] + list(map(lambda y: y[1] * y[2] , x[1:])) , orders))
result = list(map(lambda x: (x[0], reduce(lambda y,z:y + z, x[1:])) , result))
result = list(map(lambda x: (x[0], x[1]) if x[1] >= 100 else (x[0], x[1]), result))
print(result)

[(1, 678.3299999999999), (2, 494.46000000000004), (3, 364.79999999999995), (4, 492.57)]

In [ ]:
# Solución Andres Duarte

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

In [3]:
# Solución Alejandro Michel
import pandas as pd
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
          ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

orders = pd.DataFrame(orders)
orders


orders["Precio"] =  (orders.iloc[:,2] * orders.iloc[:,3]).apply(lambda x: x if x >= 100 else x +10)
orders

orders.drop([1,2,3], axis = 1, inplace = True)
orders.columns = ['Pedido', 'Precio']
orders.set_index('Pedido')


print(orders)

  Pedido  Precio
0  34587  163.80
1  98762  284.00
2  77226  108.85
3  88112   84.97

In [6]:
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
             [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
             [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]


orders = pd.DataFrame(orders)
orders

orders["x1"] = orders[1].str[1]
orders["x2"] = orders[1].str[2] 
orders["x3"] = orders[2].str[1]
orders["x4"] = orders[2].str[2]
orders["x5"] = orders[3].str[1]
orders["x6"] = orders[3].str[2]
orders.drop([1,2,3], axis = 1, inplace = True)
orders

orders["C1"] = (orders.iloc[:,1] * orders.iloc[:,2]).apply(lambda x: x if x >= 100 else x +10)
orders["C2"] = (orders.iloc[:,3] * orders.iloc[:,4]).apply(lambda x: x if x >= 100 else x +10)
orders["C3"] = (orders.iloc[:,5] * orders.iloc[:,6]).apply(lambda x: x if x >= 100 else x +10)
orders.drop(["x1","x2","x3","x4","x5","x6"], axis = 1, inplace = True)
orders

orders.fillna(0, inplace = True)
orders["Orden 1"] = orders.iloc[:,1] + orders.iloc[:,2] + orders.iloc[:,3]
orders

orders.drop(["C1", "C2", "C3"], axis = 1, inplace = True)
orders.set_index([0])
orders

   0  Orden 1
0  1   688.33
1  2   504.46
2  3   374.80
3  4   502.57

In [ ]:
# Solución Andres Duarte

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [7]:
# Solución Alejandro Michel
lista =['The notion of a lambda function goes all the way back to the origin of computer science']

def convert(lista): 
    return (lista[0].split()) 
lista = convert(lista)


filtered_list = list(filter(lambda x: len(x) >= 4 , lista))
print(filtered_list)

['notion', 'lambda', 'function', 'goes', 'back', 'origin', 'computer', 'science']

In [ ]:
# Solución Andres Duarte

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [8]:
# Solución Alejandro Michel
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
temperatures = list(temperatures)

result = list(filter(lambda x:  x >= 31 and x <= 80, temperatures))
print(result)

print("")

percent = len(result) / len(temperatures)
print(percent*100 ,"%")

[35.97387961379455, 63.211195349983264, 73.90387696517755, 36.982512376595906, 68.75395211338406, 45.86132066984196, 36.58307493022292, 56.322083650154724, 33.9621930206693, 45.29071317816652, 74.86289938282341, 66.51091382521807, 46.831316244170544, 44.55796498523391]

46.666666666666664 %

In [ ]:
# Solución Andres Duarte

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [9]:
# Solución Alejandro Michel
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])

minimos = np.minimum.reduce(point_xy)
minimos

array([0, 2])

In [ ]:
# Solución Andres Duarte